@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");

@font-face {
  font-family: "Myriad pro";
  font-display: swap;
  src: url("../fonts/myriadpro-regular.woff") format("woff"), url("../fonts/myriadpro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* ---------Reset Styles--------- */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* vertical-align: baseline; */
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------End of reset styles--------------------*/

:root {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.container {
  margin: 0 auto;
  padding: 0;
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 1.4rem 1.875rem 1.1875rem;
  text-align: center;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.175rem;
  border: 0.063rem solid rgba(255, 255, 255, 0.5);
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  position: absolute;
  content: "";
  background-color: #64c29e;
  left: 50%;
  top: 0;
  width: 0;
  height: 100%;
  -webkit-transition: ease-in 400ms;
  -o-transition: ease-in 400ms;
  transition: ease-in 400ms;
}

.btn:hover:after {
  left: 0;
  width: 100%;
}

.body_lock {
  overflow: hidden;
}

.toggler {
  display: block;
  position: absolute;
  right: 32px;
  top: 53px;
  width: 30px;
  height: 20px;
  background-color: transparent;
}

.toggler::after,
.toggler__icon,
.toggler::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #4d4959;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.toggler::after {
  top: 0;
}

.toggler__icon {
  top: 9px;
}

.toggler::before {
  bottom: 0;
}

.toggler_active::after,
.toggler_active .toggler__icon,
.toggler_active::before {
  background-color: #64c29e;
}

.toggler_active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 9px;
}

.toggler_active .toggler__icon {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.toggler_active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 9px;
}

.header {
  height: 100vh;
  background-image: url("../img/header-bg.jpg");
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.navbar__brand {
  margin: 16px 32px;
}

.navbar_active {
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.nav {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav:first-child .nav__item:last-child {
  margin-right: 0;
}

.nav:last-child .nav__item:first-child {
  margin-left: 0;
}

.nav__item {
  position: relative;
  margin: 19px 0;
}

.nav__item:after {
  position: absolute;
  content: "";
  background-color: white;
  width: 2px;
  height: 2px;
  right: 50%;
  bottom: -19px;
}

.nav__item:last-child::after {
  content: none;
}

.nav__link {
  color: white;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  padding: 0.5em 0;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.nav__link span {
  position: relative;
}

.nav__link span:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -4px;
  height: 1px;
  width: 0;
  background-color: #64c29e;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.nav__link:hover {
  color: #64c29e;
}

.nav__link:hover span:after {
  left: 0;
  width: 100%;
}

.collapse {
  display: none;
}

.collapse_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.container-l {
  max-width: 1111px;
}

.generation {
  background-color: #f7f7f7;
  padding: 1.875rem 0 3.75rem;
}

.generation__body {
  padding: 0 16px;
  margin: 0 auto;
  text-align: center;
}

.generation__title {
  margin: 20px 0;
  color: #353738;
  font-size: 1.125rem;
  line-height: 2.125rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.225rem;
}

.generation__text {
  color: #848789;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.125rem;
}

.order-1 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.img-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-block__col_8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.img-block__col_4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.box-logo {
  width: 100%;
  height: 300px;
  display: block;
}

.box-logo__owerlay {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.box-logo:hover .box-logo__owerlay {
  background-color: rgba(100, 194, 158, 0.65);
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.box-info {
  padding: 1.375rem 1rem 2.375rem;
  position: relative;
}

.box-info__icon {
  display: block;
  margin: 0 auto;
}

.box-info__title {
  color: #353738;
  font-size: 1.125rem;
  line-height: 1.525rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.225rem;
  margin: 1rem 0 1rem;
  text-align: center;
}

.box-info__text {
  position: relative;
  color: #848789;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875rem;
}

.box-info__text:after {
  position: absolute;
  left: 50%;
  bottom: -15px;
  width: 51px;
  margin-left: -25px;
  height: 1px;
  content: "";
  background-color: #D4DBDF;
}

.box-info::after {
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 14px;
  margin-left: -7px;
  height: 14px;
  content: "";
  background-color: white;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.box-bg {
  display: none;
}

.shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 1602px;
}

.shop__col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.shop__col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.plate {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plate__row {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plate__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.plate-item {
  display: block;
  height: 100%;
  width: 100%;
}

.plate-item__owerlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 194, 158, 0.65);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.plate-item__owerlay p {
  margin-top: 14px;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.175rem;
}

.plate-item:hover .plate-item__owerlay {
  opacity: 1;
}

.shop__bottom {
  height: 12.5rem;
  background-color: #282f35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__bottom h2 {
  display: inline;
}

.contact__body {
  padding: 3.125rem 8px 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__text {
  color: #848789;
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-style: italic;
  margin: 2.125rem 0 1.875rem;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact__email {
  height: 4.313rem;
  padding: 0 1.75rem;
  width: 100%;
  border: 0.063rem solid #d3d7d9;
  background-color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-right: 0;
  margin-bottom: 8px;
}

.contact__email:focus {
  border-color: #64c29e;
}

.contact__email::-webkit-input-placeholder {
  color: #929292;
}

.contact__email::-moz-placeholder {
  color: #929292;
}

.contact__email:-ms-input-placeholder {
  color: #929292;
}

.contact__email::-ms-input-placeholder {
  color: #929292;
}

.contact__email::placeholder {
  color: #929292;
}

.contact__btn {
  height: 4.313rem;
  padding: 0 2.8125rem;
  background-color: #64c29e;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  width: 100%;
}

.contact__btn:active {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.footer {
  background-color: #f7f7f7;
}

.footer__body {
  max-width: 1117px;
  margin: 0 auto;
  padding: 40px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__social {
  margin: 8px;
}

.footer__social a:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
}

.footer__social img {
  margin: 0 7.5px;
}

.footer__autor a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__autor a span {
  margin-right: 9px;
  color: #848789;
  font-size: 0.875rem;
  line-height: 1.117rem;
}

.footer__autor a img {
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.footer__autor a:hover img {
  -webkit-filter: sepia(1000%) brightness(190%) hue-rotate(100deg);
          filter: sepia(1000%) brightness(190%) hue-rotate(100deg);
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.info {
  text-align: center;
  line-height: 22px;
  color: #848789;
}

.info__title {
  font-size: 16px;
  font-weight: 700;
}

.info__text {
  font-size: 14px;
  font-style: italic;
}

.info__text a {
  color: #848789;
}

.info__text a:hover {
  color: black;
}

.slider {
  background-color: #f7f7f7;
  padding: 40px 8px 34px;
}

.slider__item {
  max-width: 1036px;
  text-align: center;
}

.slider__title {
  color: #353738;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.113rem;
  padding: 37px 0 27px;
}

.slider__title span {
  letter-spacing: 0.113rem;
  color: #848789;
  font-weight: 300;
}

.slider__text {
  color: #848789;
  font-size: 1.225rem;
  line-height: 2.125rem;
  font-style: italic;
  margin-bottom: 57px;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots button {
  margin: 0 4.5px;
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px #a9afb3;
}

.slider .slick-dots .slick-active button {
  background-color: #a9afb3;
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
  text-align: center;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

@media only screen and (min-width: 576px) {
  :root {
    font-size: 15px;
  }

  .btn {
    padding: 1.4rem 3.5625rem 1.1875rem;
  }

  .generation {
    padding: 3.75rem 0 5.625rem;
  }

  .generation__title {
    margin: 30px 0;
  }

  .box-logo {
    height: 400px;
  }

  .box-info {
    padding: 1.875rem 2.0625rem 3.75rem;
  }

  .box-info__title {
    margin: 1.9375rem 0 1.1875rem;
  }

  .box-info__text:after {
    bottom: -28px;
  }

  .shop__col-2 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }

  .shop__col-4 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }

  .contact__body {
    padding: 6.8125rem 8px 6.9375rem;
  }

  .contact__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .contact__email {
    width: 25rem;
    margin-right: 8px;
    margin-bottom: 0;
  }

  .contact__btn {
    width: auto;
  }
}

@media only screen and (min-width: 768px) {
  .body_lock {
    overflow: inherit;
  }

  .toggler {
    display: none;
  }

  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .nav {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .nav:first-child .nav__item {
    margin-right: 32px;
  }

  .nav:last-child .nav__item {
    margin-left: 32px;
  }

  .nav__item:after {
    right: -16px;
    bottom: 0;
    background-color: #4d4959;
  }

  .nav__link {
    font-size: 13px;
    color: #4d4959;
  }

  .collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer__body {
    padding: 99px 8px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .info {
    text-align: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    line-height: 18px;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    font-size: 16px;
  }

  .navbar__brand {
    margin: 35px 62px;
  }

  .nav:first-child .nav__item {
    margin-right: 72px;
  }

  .nav:last-child .nav__item {
    margin-left: 72px;
  }

  .nav__item:after {
    right: -36px;
  }

  .order-1 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .img-block__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .img-block__col_8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.666%;
            flex: 0 1 66.666%;
  }

  .img-block__col_4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .box-logo {
    height: 100%;
  }

  .box-bg {
    display: block;
    padding-top: 32.6%;
    width: 100%;
  }

  .shop__row {
    height: 534px;
  }

  .shop__col-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }

  .shop__col-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }

  .slider {
    padding: 124px 8px 68px;
  }

  .slider__text {
    font-size: 1.5rem;
    margin-bottom: 104px;
  }
}

@media only screen and (min-width: 1200px) {
  .generation {
    padding: 7.3125rem 0 8.4375rem;
  }

  .box-info {
    padding: 4.375rem 4.1875rem 5.5rem;
  }

  .box-info__text:after {
    bottom: -40px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar_active {
    background-color: #4d4959;
    height: 100vh;
    width: 100vw;
    position: fixed;
  }
}

.webp .header{ background-image: url(../img/header-bg.webp); }